@font-face {
    font-family: 'Hind Siliguri';
    font-style: normal;
    font-weight: normal;
    src: local('Hind Siliguri'),
        url('./hind-siliguri-v12-latin-regular.woff2') format('woff2'),
        url('./hind-siliguri-v12-latin-regular.woff') format('woff'),
        url('./hind-siliguri-v12-latin-regular.ttf') format('ttf'),
        url('./hind-siliguri-v12-latin-regular.eot') format('eot');
}
.contain {
    width: 1140px;
    height: 333.08px;
    left: 230px;
}
.contain__block1 {

    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contain__block1__text {
    width: 249px;
    height: 147px;
    margin: 75px 271px 74px 35px;
}
.contain__block1__text__get {
    width: 241px;
    height: 27px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin: auto;
}
.contain__block1__text__drone {
    width: 249px;
    height: 81px;
    font-family: 'Hind Siliguri';
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    margin: auto;
}
.contain__block1__text__show {
    width: 76px;
    height: 27px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    margin: initial;
}
.contain__block1__dronepic {
    width: 275px;
    height: 231px;
    margin: -281px 0px 50px 280px;
}
.contain__block2 {
    margin: -299px 0px 0px 585.27px;
    width: 555px;
    height: 296px;
    background: linear-gradient(257.26deg, #008BF0 -13.2%, #D943C9 130.95%);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.contain__block2__text {
    width: 258px;
    height: 147px;
    margin: 75px 271px 74px 35px;
}
.contain__block2__text__get {
    width: 240px;
    height: 27px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin: initial;
}
.contain__block2__text__cam {
    width: 258px;
    height: 81px;
    font-family: 'Hind Siliguri';
    font-weight: 600;
    font-size: 31px;
    line-height: 40px;
    margin: auto;
}
.contain__block2__text__show {
    width: 76px;
    height: 27px;
    font-family: 'Hind Siliguri';
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    margin: initial;
}
.contain__block2__campic {
    width: 238.12px;
    height: 151.26px;
    margin: -338px 0px 85px 300px;
}